body {
  background-color: var(--main-color-2);
  /*background-image: url(../../images/flowersbackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40%;
  */
  /*background-image: url(../../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  */
}

* {
  margin: 0;
  padding: 0;
  font-family: "Ms Madi", sans-serif;
  --main-color: #EDD0D2;
  --main-color-2: #6D7A60;
  --secondary-color: #E4E5E0;
}

@keyframes desaparicion {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes aparicion {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
@keyframes barra {
  /*from{width: 0%;}
  to{width: 100%;}*/
  0% {
    width: 0%;
  }
  7% {
    width: 7.7%;
  }
  14% {
    width: 15.4%;
  }
  21% {
    width: 23.1%;
  }
  28% {
    width: 30.8%;
  }
  35% {
    width: 38.5%;
  }
  42% {
    width: 46.2%;
  }
  49% {
    width: 53.9%;
  }
  56% {
    width: 61.6%;
  }
  62% {
    width: 69.3%;
  }
  71% {
    width: 77%;
  }
  80% {
    width: 84.7%;
  }
  100% {
    width: 100%;
  }
}
#secciones {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
  scroll-timeline: --secciones;
}
#secciones #barra {
  background-color: var(--main-color);
  width: 0%;
  height: 10px;
  z-index: 1000;
  position: fixed;
  animation-name: barra;
  animation-timeline: --secciones;
}
#secciones .photo {
  scroll-snap-align: start;
  height: 100vh;
  background-image: url(../../images/72.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  #secciones .photo {
    background-image: url(../../images/78.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
#secciones .photo h1 {
  color: var(--main-color);
  font-size: 80px;
  font-weight: 400;
  text-align: center;
  z-index: 100;
  background-color: var(--main-color-2);
  position: sticky;
  top: 80vh;
  width: 100%;
  opacity: 90%;
}
@keyframes flores {
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
#secciones #date {
  scroll-snap-align: start;
  position: relative;
}
#secciones #date .date .borde {
  width: 100px;
}
#secciones #date .date .borde1 {
  position: absolute;
  bottom: 15vh;
  left: 10vw;
}
#secciones #date .date .borde2 {
  position: absolute;
  top: 15vh;
  left: 10vw;
}
#secciones #date .date .borde3 {
  position: absolute;
  top: 15vh;
  right: 10vw;
}
#secciones #date .date .borde4 {
  position: absolute;
  bottom: 15vh;
  right: 10vw;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #date .date .borde {
    width: 200px;
  }
  #secciones #date .date .borde1 {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  #secciones #date .date .borde2 {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  #secciones #date .date .borde3 {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  #secciones #date .date .borde4 {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
#secciones #date .date .countdown-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #date .date .countdown-container {
    margin-top: 50px;
  }
}
#secciones #date .date .countdown-container .texto {
  text-align: center;
}
#secciones #date .date .countdown-container .texto h2 {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  color: var(--main-color);
  font-size: 100px;
  font-weight: 400;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #date .date .countdown-container .texto h2 {
    font-size: 200px;
  }
}
#secciones #date .date .countdown-container .texto h3 {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  color: var(--main-color);
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 150px;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #date .date .countdown-container .texto h3 {
    font-size: 250px;
  }
}
#secciones #date .date .countdown-container .texto .message {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  text-align: center;
  font-weight: 500;
  font-size: 60px;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #date .date .countdown-container .texto .message {
    font-size: 100px;
  }
}
#secciones #foto1 {
  scroll-snap-align: start;
  height: 100vh;
  background-image: url(../../images/1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  #secciones #foto1 {
    background-image: url(../../images/43.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
#secciones #save-date {
  scroll-snap-align: start;
  position: relative;
}
#secciones #save-date .borde {
  width: 150px;
}
#secciones #save-date .borde1 {
  position: absolute;
  bottom: 8vh;
  left: 10vw;
}
#secciones #save-date .borde2 {
  position: absolute;
  top: 8vh;
  left: 10vw;
}
#secciones #save-date .borde3 {
  position: absolute;
  top: 8vh;
  right: 10vw;
}
#secciones #save-date .borde4 {
  position: absolute;
  bottom: 8vh;
  right: 10vw;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #save-date .borde {
    width: 200px;
  }
  #secciones #save-date .borde1 {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  #secciones #save-date .borde2 {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  #secciones #save-date .borde3 {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  #secciones #save-date .borde4 {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
#secciones #save-date .texto-date {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: auto;
}
#secciones #save-date .texto-date h4 {
  color: var(--main-color);
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding: 10px 0;
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #save-date .texto-date h4 {
    font-size: 50px;
    max-width: 70%;
  }
}
#secciones #save-date .texto-date .salon {
  color: var(--main-color);
  font-family: "Ms Madi", sans-serif;
  font-size: 40px;
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #save-date .texto-date .salon {
    font-size: 80px;
  }
}
#secciones #save-date .texto-date p {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 20%;
  color: var(--main-color);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  padding: 20px;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #save-date .texto-date p {
    font-size: 40px;
  }
}
#secciones #save-date .texto-date .confirmation {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 10%;
  color: var(--main-color-2);
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 12px;
  text-decoration: none;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #save-date .texto-date .confirmation {
    font-size: 40px;
  }
}
#secciones #save-date .texto-date .confirmation:hover {
  color: var(--secondary-color);
  background-color: var(--main-color-2);
  border: 1px solid var(--secondary-color);
}
#secciones #save-date .texto-date .confirmation:active {
  color: var(--secondary-color);
  background-color: var(--main-color-2);
  border: 1px solid var(--secondary-color);
}
#secciones #save-date .texto-date .restriccion {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 10%;
  color: var(--main-color);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-top: 12px;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #save-date .texto-date .restriccion {
    font-size: 30px;
    margin-top: 14px;
  }
}
#secciones #foto2 {
  scroll-snap-align: start;
  height: 100vh;
  background-image: url(../../images/34.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  #secciones #foto2 {
    background-image: url(../../images/73.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
#secciones #civil {
  scroll-snap-align: start;
}
#secciones #civil .texto-civil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 70%;
  margin: auto;
}
#secciones #civil .texto-civil .anillos {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  width: 30%;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #civil .texto-civil .anillos {
    width: 20%;
  }
}
#secciones #civil .texto-civil h4 {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  color: var(--main-color);
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 10px;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #civil .texto-civil h4 {
    font-size: 40px;
  }
}
#secciones #civil .texto-civil h3 {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  color: var(--main-color);
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #civil .texto-civil h3 {
    font-size: 46px;
  }
}
#secciones #foto3 {
  scroll-snap-align: start;
  height: 100vh;
  background-image: url(../../images/52.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  #secciones #foto3 {
    background-image: url(../../images/41.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
#secciones #photo-app {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--secondary-color);
  text-align: center;
  padding-bottom: 20px;
}
#secciones #photo-app h5 {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  font-family: "Open-Sans", sans-serif;
  font-size: 18px;
  color: var(--main-color-2);
  padding: 20px 40px;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #photo-app h5 {
    font-size: 50px;
    padding: 30px 10px;
  }
}
#secciones #photo-app .teams {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-bottom: 20px;
}
#secciones #photo-app .teams h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: var(--main-color-2);
  padding-bottom: 10px;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #photo-app .teams h6 {
    font-size: 40px;
    padding-bottom: 20px;
  }
}
#secciones #photo-app .hr3 {
  background-color: var(--main-color-2);
  height: 1px;
  width: 60%;
  border: 1px solid var(--main-color-2);
  border-radius: 10px;
  margin-left: 20%;
}
#secciones #photo-app .qr img {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  height: 100px;
  padding-bottom: 10px;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #photo-app .qr img {
    height: 200px;
    padding-bottom: 20px;
  }
}
#secciones #photo-app .link-container {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#secciones #photo-app .link-container .link-app {
  padding: 10px;
}
#secciones #photo-app .link-container h5 {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 0% cover 10%;
}
#secciones #photo-app .link-container a {
  color: var(--main-color-2);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #photo-app .link-container a {
    font-size: 40px;
    padding: 30px 10px;
  }
}
#secciones #foto4 {
  scroll-snap-align: start;
  height: 100vh;
  background-image: url(../../images/70.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  #secciones #foto4 {
    background-image: url(../../images/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
#secciones #gift {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#secciones #gift img {
  width: 20%;
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #gift img {
    width: 10%;
  }
}
#secciones #gift .futuro {
  width: 90%;
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #gift .futuro {
    width: 80%;
  }
}
#secciones #gift .future {
  font-family: "Ms Madi", sans-serif;
  font-size: 38px;
  font-weight: 500;
  color: var(--main-color);
  text-align: center;
  padding: 10px 24px;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #gift .future {
    font-size: 100px;
  }
}
#secciones #gift .present {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  color: var(--main-color);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 0 40px;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #gift .present {
    font-size: 40px;
    padding: 20px 20px;
  }
}
#secciones #gift .info {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  background-color: var(--secondary-color);
  width: 70%;
  border-radius: 10px;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #gift .info {
    max-width: 50%;
  }
}
#secciones #gift .info p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: var(--main-color-2);
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #gift .info p {
    font-size: 40px;
  }
}
#secciones #foto5 {
  scroll-snap-align: start;
  height: 100vh;
  background-image: url(../../images/39.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  #secciones #foto5 {
    background-image: url(../../images/71.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
#secciones #game {
  scroll-snap-align: start;
  background-color: var(--secondary-color);
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#secciones #game img {
  width: 20%;
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #game img {
    width: 10%;
  }
}
#secciones #game h5 {
  font-family: "Open-Sans", sans-serif;
  font-size: 20px;
  color: var(--main-color-2);
  padding: 24px 40px;
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #game h5 {
    font-size: 50px;
    padding: 24px 10px;
  }
}
#secciones #game p {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  font-size: 16px;
  color: var(--main-color-2);
  font-family: "Open-Sans", sans-serif;
  padding: 5px 40px;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #game p {
    font-size: 40px;
  }
}
#secciones #game p:last-of-type {
  padding-bottom: 30px;
}
#secciones #game .game-button {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  background-color: var(--main-color-2);
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
  text-decoration: none;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #game .game-button {
    font-size: 40px;
  }
}
#secciones #game .game-button:active {
  color: var(--main-color-2);
  background-color: var(--secondary-color);
  border: 1px solid var(--main-color-2);
}
#secciones #game .game-button:hover {
  color: var(--main-color-2);
  background-color: var(--secondary-color);
  border: 1px solid var(--main-color-2);
}
#secciones #see-you {
  scroll-snap-align: start;
  height: 100vh;
  background-image: url(../../images/7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  #secciones #see-you {
    background-image: url(../../images/76.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
#secciones #see-you h3 {
  font-size: 40px;
  color: var(--main-color);
  background-color: var(--main-color-2);
  position: sticky;
  top: 100vh;
  width: 100%;
  height: 50px;
  padding: 10px 0;
  z-index: 100;
  text-align: center;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #secciones #see-you h3 {
    font-size: 70px;
    padding-bottom: 30px;
  }
}
@media (max-width: 768px) {
  #secciones #see-you h3 {
    position: sticky;
    top: 10vh;
    color: var(--main-color-2);
    background-color: unset;
  }
}

.register {
  background-color: var(--main-color);
  margin: 10px 50px;
  border-radius: 10px;
  position: absolute;
  z-index: 5;
  display: none;
}
.register h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: center;
  color: var(--main-color-2);
  padding: 20px;
}
.register form {
  display: flex;
  flex-direction: column;
}
.register form .form-fields {
  text-align: center;
}
.register form .form-fields p {
  font-family: "Open Sans", sans-serif;
  color: var(--main-color-2);
  font-size: 16px;
  padding-bottom: 5px;
}
.register form .form-fields .form-field {
  background-color: var(--secondary-color);
  border: 1px solid var(--main-color-2);
  margin-bottom: 20px;
  width: 80%;
  border-radius: 5px;
}
.register form .form-button {
  max-width: fit-content;
  align-self: center;
  margin-bottom: 20px;
  padding: 8px 12px;
  background-color: var(--main-color-2);
  border: 1px solid var(--main-color);
  border-radius: 10px;
  color: var(--main-color);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.register form .form-button:active {
  background-color: var(--main-color);
  border: 1px solid var(--main-color-2);
  color: var(--main-color-2);
}

.active {
  display: unset;
}

/*# sourceMappingURL=main.css.map */
