body {
  background-color: var(--main-color-2);
  /*background-image: url(../../images/flowersbackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40%;
  */
  /*background-image: url(../../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  */
}

#progreso {
  position: fixed;
  top: 0;
  width: 0%;
  background-color: var(--main-color);
  height: 10px;
  z-index: 10;
  animation: progreso-barra auto linear;
  animation-timeline: scroll();
}

@keyframes progreso-barra {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes aparicion {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Ms Madi", sans-serif;
  --main-color: #EDD0D2;
  --main-color-2: #6D7A60;
  --secondary-color: #E4E5E0;
}

header .flowers-left {
  position: absolute;
  left: 0%;
  z-index: -1;
}
header .flowers-right {
  position: absolute;
  right: 0%;
  z-index: -1;
}
header .photo {
  height: 100vh;
  background-image: url(../../images/72.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  header .photo {
    background-image: url(../../images/78.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1024px) and (max-width: 2400px) {
  header .photo {
    height: 100vh;
  }
}
header #titulo {
  height: 100vh;
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
header #titulo img {
  opacity: 60%;
}
header #titulo #nombres {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  header #titulo #nombres {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
  }
}
header #titulo h2 {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  font-size: 300px;
  font-weight: 500;
}
@media (max-width: 768px) {
  header #titulo h2 {
    font-size: 150px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  header #titulo h2 {
    font-size: 200px;
  }
}
header #titulo h3 {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  font-size: 150px;
  font-weight: 400;
  padding-top: 30px;
}
@media (max-width: 768px) {
  header #titulo h3 {
    font-size: 80px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  header #titulo h3 {
    font-size: 100px;
  }
}

main .flowers-left {
  position: absolute;
  left: 0%;
  z-index: -1;
}
main .flowers-right {
  position: absolute;
  right: 0%;
  z-index: -1;
}

#date .date .countdown-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #date .date .countdown-container {
    margin-top: 50px;
  }
}
#date .date .countdown-container .texto {
  text-align: center;
}
#date .date .countdown-container .texto h2 {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  color: var(--main-color);
  font-size: 100px;
  font-weight: 400;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #date .date .countdown-container .texto h2 {
    font-size: 200px;
  }
}
#date .date .countdown-container .texto h3 {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  color: var(--main-color);
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 150px;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #date .date .countdown-container .texto h3 {
    font-size: 250px;
  }
}
#date .date .countdown-container .texto .message {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  text-align: center;
  font-weight: 500;
  font-size: 60px;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #date .date .countdown-container .texto .message {
    font-size: 100px;
  }
}
#date .date .save-date .texto-date {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: auto;
}
#date .date .save-date .texto-date .fuegos {
  width: 40%;
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #date .date .save-date .texto-date .fuegos {
    width: 20%;
  }
}
#date .date .save-date .texto-date h4 {
  color: var(--main-color);
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding: 10px 0;
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #date .date .save-date .texto-date h4 {
    font-size: 80px;
    max-width: 70%;
  }
}
#date .date .save-date .texto-date .salon {
  color: var(--main-color);
  font-family: "Ms Madi", sans-serif;
  font-size: 40px;
  padding: 20px 0 0 0;
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #date .date .save-date .texto-date .salon {
    font-size: 100px;
  }
}
#date .date .save-date .texto-date p {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  color: var(--main-color);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  padding: 20px;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #date .date .save-date .texto-date p {
    font-size: 40px;
  }
}
#date .date .save-date .texto-date .confirmation {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  color: var(--main-color-2);
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 12px;
  margin-bottom: 30px;
  text-decoration: none;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #date .date .save-date .texto-date .confirmation {
    font-size: 50px;
  }
}
#date .date .save-date .texto-date .confirmation:hover {
  color: var(--secondary-color);
  background-color: var(--main-color-2);
  border: 1px solid var(--secondary-color);
}
#date .date .save-date .texto-date .confirmation:active {
  color: var(--secondary-color);
  background-color: var(--main-color-2);
  border: 1px solid var(--secondary-color);
}
#date .date .save-date .texto-date .dress-code {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  text-align: center;
  padding-top: 20px;
}
#date .date .save-date .texto-date .dress-code h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: var(--main-color);
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #date .date .save-date .texto-date .dress-code h5 {
    font-size: 40px;
  }
}
#date .date .save-date .texto-date .dress-code p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: var(--main-color);
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #date .date .save-date .texto-date .dress-code p {
    font-size: 40px;
  }
}
#date .date .add-date {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px;
}
#date .date .add-date .save {
  text-decoration: none;
  color: var(--main-color-2);
  border: 1px solid var(--main-color-2);
  background-color: var(--secondary-color);
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 8px 12px;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #date .date .add-date .save {
    font-size: 30px;
  }
}
#date .date .add-date .save:hover {
  color: var(--secondary-color);
  background-color: var(--main-color-2);
  border: 1px solid var(--secondary-color);
}
#date .date .add-date .save:active {
  color: var(--main-color-2);
  background-color: var(--main-color-2);
  border: 1px solid var(--secondary-color);
}
#date .date #civil .texto-civil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 70%;
  margin: auto;
}
#date .date #civil .texto-civil .anillos {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  width: 30%;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #date .date #civil .texto-civil .anillos {
    width: 20%;
  }
}
#date .date #civil .texto-civil h4 {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  color: var(--main-color);
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 10px;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #date .date #civil .texto-civil h4 {
    font-size: 40px;
  }
}
#date .date #civil .texto-civil h3 {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  color: var(--main-color);
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  padding: 10px 0;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #date .date #civil .texto-civil h3 {
    font-size: 46px;
  }
}

.carrusel {
  background-color: var(--main-color-2);
  height: 60vh;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .carrusel {
    height: 100vh;
  }
}
.carrusel .imagen img {
  height: 600px;
  border-radius: 10px;
  margin: 0 5px;
}
@media (max-width: 768px) {
  .carrusel .imagen img {
    height: 400px;
  }
}

#photo-app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--secondary-color);
  text-align: center;
  padding-bottom: 20px;
}
#photo-app h5 {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  font-family: "Open-Sans", sans-serif;
  font-size: 18px;
  color: var(--main-color-2);
  padding: 20px 40px;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #photo-app h5 {
    font-size: 50px;
    padding: 30px 10px;
  }
}
#photo-app .teams {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-bottom: 20px;
}
#photo-app .teams h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: var(--main-color-2);
  padding-bottom: 10px;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #photo-app .teams h6 {
    font-size: 40px;
    padding-bottom: 20px;
  }
}
#photo-app .hr3 {
  background-color: var(--main-color-2);
  height: 1px;
  width: 60%;
  border: 1px solid var(--main-color-2);
  border-radius: 10px;
  margin-left: 20%;
}
#photo-app .qr img {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  height: 100px;
  padding-bottom: 10px;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #photo-app .qr img {
    height: 200px;
    padding-bottom: 20px;
  }
}
#photo-app .link-container {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#photo-app .link-container .link-app {
  padding: 10px;
}
#photo-app .link-container a {
  color: var(--main-color-2);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #photo-app .link-container a {
    font-size: 40px;
    padding: 30px 10px;
  }
}

#gift {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#gift img {
  width: 20%;
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #gift img {
    width: 10%;
  }
}
#gift .futuro {
  width: 90%;
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #gift .futuro {
    width: 80%;
  }
}
#gift .future {
  font-family: "Ms Madi", sans-serif;
  font-size: 38px;
  font-weight: 500;
  color: var(--main-color);
  text-align: center;
  padding: 10px 24px;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #gift .future {
    font-size: 100px;
  }
}
#gift .present {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  color: var(--main-color);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 0 40px;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #gift .present {
    font-size: 40px;
    padding: 20px 20px;
  }
}
#gift .info {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  background-color: var(--secondary-color);
  width: 70%;
  border-radius: 10px;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #gift .info {
    max-width: 50%;
  }
}
#gift .info p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: var(--main-color-2);
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #gift .info p {
    font-size: 40px;
  }
}

#game {
  background-color: var(--secondary-color);
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#game img {
  width: 20%;
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #game img {
    width: 10%;
  }
}
#game h5 {
  font-family: "Open-Sans", sans-serif;
  font-size: 20px;
  color: var(--main-color-2);
  padding: 24px 40px;
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #game h5 {
    font-size: 50px;
    padding: 24px 10px;
  }
}
#game p {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  font-size: 16px;
  color: var(--main-color-2);
  font-family: "Open-Sans", sans-serif;
  padding: 5px 40px;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #game p {
    font-size: 40px;
  }
}
#game p:last-of-type {
  padding-bottom: 30px;
}
#game .game-button {
  animation: aparicion linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 30%;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  background-color: var(--main-color-2);
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
  text-decoration: none;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #game .game-button {
    font-size: 40px;
  }
}
#game .game-button:active {
  color: var(--main-color-2);
  background-color: var(--secondary-color);
  border: 1px solid var(--main-color-2);
}
#game .game-button:hover {
  color: var(--main-color-2);
  background-color: var(--secondary-color);
  border: 1px solid var(--main-color-2);
}

#see-you {
  font-size: 30px;
  color: var(--main-color);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
@media (min-width: 1024px) and (max-width: 2400px) {
  #see-you {
    font-size: 70px;
    padding-bottom: 30px;
  }
}

.register {
  background-color: var(--main-color);
  margin: 10px 50px;
  border-radius: 10px;
  position: absolute;
  z-index: 5;
  display: none;
}
.register h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-align: center;
  color: var(--main-color-2);
  padding: 20px;
}
.register form {
  display: flex;
  flex-direction: column;
}
.register form .form-fields {
  text-align: center;
}
.register form .form-fields p {
  font-family: "Open Sans", sans-serif;
  color: var(--main-color-2);
  font-size: 16px;
  padding-bottom: 5px;
}
.register form .form-fields .form-field {
  background-color: var(--secondary-color);
  border: 1px solid var(--main-color-2);
  margin-bottom: 20px;
  width: 80%;
  border-radius: 5px;
}
.register form .form-button {
  max-width: fit-content;
  align-self: center;
  margin-bottom: 20px;
  padding: 8px 12px;
  background-color: var(--main-color-2);
  border: 1px solid var(--main-color);
  border-radius: 10px;
  color: var(--main-color);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.register form .form-button:active {
  background-color: var(--main-color);
  border: 1px solid var(--main-color-2);
  color: var(--main-color-2);
}

.active {
  display: unset;
}

/*# sourceMappingURL=main.css.map */
