body{
    background-color: var(--main-color-2);
    /*background-image: url(../../images/flowersbackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40%;
    */
    /*background-image: url(../../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    */
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow: auto;
}

#progreso{
    position: fixed;
    top: 0;
    width: 0%;
    background-color: var(--main-color);
    height: 10px;
    z-index: 10;

    animation: progreso-barra auto linear;
    animation-timeline: scroll();
}

@keyframes progreso-barra{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

@keyframes aparicion{
    from{
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}