body{
    background-color: var(--main-color-2);
    /*background-image: url(../../images/flowersbackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40%;
    */
    /*background-image: url(../../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    */
}




