header{
    scroll-snap-align: start;
    height: 100vh;
    .photo{
        background-image: url(../../images/72.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        @include media-query-mobile{
            background-image: url(../../images/78.jpg);
            height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
        }
        @include media-query-maxitablet{
            height: 100vh;
        }
    }
    h1{
        color: var(--main-color);
        font-size: 80px;
        font-weight: 400;
        text-align: center;
        z-index: 100;
        background-color: var(--main-color-2);
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}