@keyframes desaparicion{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes aparicion{
    from{
        opacity: 0;
        scale: 25%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}

#secciones{
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow: auto;
    .photo{
        scroll-snap-align: start;
        height: 100vh;
        background-image: url(../../images/72.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        @include media-query-mobile{
            background-image: url(../../images/78.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        h1{
        color: var(--main-color);
        font-size: 80px;
        font-weight: 400;
        text-align: center;
        z-index: 100;
        background-color: var(--main-color-2);
        position: sticky;
        top: 80vh;
        width: 100%;
        opacity: 90%;
        }
    }

    @keyframes flores{
        0%{
            transform: rotate(90deg);
        }
        50%{
            transform: rotate(-90deg);
        }
        100%{
            transform: rotate(90deg);
        }
    }

    #date{
        scroll-snap-align: start;
        position: relative;
        .date{
            .borde{
                width: 100px;
            }
            .borde1{
                position: absolute;
                bottom: 15vh;
                left: 10vw;
            }
            .borde2{
                position: absolute;
                top: 15vh;
                left: 10vw;
            }
            .borde3{
                position: absolute;
                top: 15vh;
                right: 10vw;
            }
            .borde4{
                position: absolute;
                bottom: 15vh;
                right: 10vw;
            }
            @include media-query-maxitablet{
                .borde{
                    width: 200px;
                }
                .borde1{
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                }
                .borde2{
                    position: absolute;
                    top: 10px;
                    left: 10px;
                }
                .borde3{
                    position: absolute;
                    top: 10px;
                    right: 10px;
                }
                .borde4{
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                }
            }
            .countdown-container{
                height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: center;                                                                                     
                justify-content: center;
                @include media-query-maxitablet{
                    margin-top: 50px;
                }
                .texto{
                    text-align: center;
                    h2{
                        animation: aparicion linear both;
                        animation-timeline: view();
                        animation-range: entry 10% cover 30%;
                        color: var(--main-color);
                        font-size: 100px;
                        font-weight: 400;
                        @include media-query-maxitablet{
                            font-size: 200px;
                        }
                    }           
                    h3{
                        animation: aparicion linear both;
                        animation-timeline: view();
                        animation-range: entry 10% cover 30%;
                        color: var(--main-color);
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 300;
                        font-size: 150px;
                        @include media-query-maxitablet{
                            font-size: 250px;
                        }
                    }         
                    .message{
                        animation: aparicion linear both;
                        animation-timeline: view();
                        animation-range: entry 10% cover 30%;
                        text-align: center;
                        font-weight: 500;
                        font-size: 60px;
                        @include media-query-maxitablet{
                            font-size: 100px;
                        }
                    }
                }
            }
        }
    }

    #foto1{
        scroll-snap-align: start;
        height: 100vh;
        background-image: url(../../images/1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        @include media-query-mobile{
            background-image: url(../../images/43.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    #save-date{
        scroll-snap-align: start;
        position: relative;
        .borde{
                width: 150px;
            }
            .borde1{
                position: absolute;
                bottom: 15vh;
                left: 10vw;
            }
            .borde2{
                position: absolute;
                top: 15vh;
                left: 10vw;
            }
            .borde3{
                position: absolute;
                top: 15vh;
                right: 10vw;
            }
            .borde4{
                position: absolute;
                bottom: 15vh;
                right: 10vw;
            }
        @include media-query-maxitablet{
            .borde{
                width: 200px;
            }
            .borde1{
                position: absolute;
                bottom: 10px;
                left: 10px;
            }
            .borde2{
                position: absolute;
                top: 10px;
                left: 10px;
            }
            .borde3{
                position: absolute;
                top: 10px;
                right: 10px;
            }
            .borde4{
                position: absolute;
                bottom: 10px;
                right: 10px;
            }
        }
        .texto-date{
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 60%;
            margin: auto;
            h4{
                color: var(--main-color);
                font-family: 'Open Sans', sans-serif;
                font-size: 24px;
                font-weight: 500;
                text-align: center;
                padding: 10px 0;
                animation: aparicion linear both;
                animation-timeline: view();
                animation-range: entry 10% cover 30%;
                @include media-query-maxitablet{
                    font-size: 80px;
                    max-width: 70%;
                }
            }
            .salon{
                color: var(--main-color);
                font-family: 'Ms Madi', sans-serif;
                font-size: 40px;
                animation: aparicion linear both;
                animation-timeline: view();
                animation-range: entry 10% cover 30%;
                @include media-query-maxitablet{
                    font-size: 100px;
                }
            }
            p{
                animation: aparicion linear both;
                animation-timeline: view();
                animation-range: entry 10% cover 30%;
                color: var(--main-color);
                font-family: 'Open Sans', sans-serif;
                font-size: 20px;
                font-weight: 200;
                text-align: center;
                padding: 20px;
                @include media-query-maxitablet{
                    font-size: 40px;
                }
            }
            .confirmation{
                animation: aparicion linear both;
                animation-timeline: view();
                animation-range: entry 0% cover 10%;
                color: var(--main-color-2);
                border: 1px solid var(--secondary-color);
                background-color: var(--secondary-color);
                border-radius: 10px;
                font-family: 'Open Sans', sans-serif;
                font-size: 20px;
                font-weight: 500;
                padding: 8px 12px;
                margin-bottom: 30px;
                text-decoration: none;
                @include media-query-maxitablet{
                    font-size: 50px;
                }
                &:hover{
                    color: var(--secondary-color);
                    background-color: var(--main-color-2);
                    border: 1px solid var(--secondary-color);
                }
                &:active{
                    color: var(--secondary-color);
                    background-color: var(--main-color-2);
                    border: 1px solid var(--secondary-color);
                }              
            }
        }
    }

    #foto2{
        scroll-snap-align: start;
        height: 100vh;
        background-image: url(../../images/34.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        @include media-query-mobile{
            background-image: url(../../images/73.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    #civil{
        scroll-snap-align: start;
        .texto-civil{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 70%;
            margin: auto;
            .anillos{
                animation: aparicion linear both;
                animation-timeline: view();
                animation-range: entry 10% cover 30%;
                width: 30%;
                @include media-query-maxitablet{
                    width: 20%;
                }
            }
            h4{
                animation: aparicion linear both;
                animation-timeline: view();
                animation-range: entry 10% cover 30%;
                color: var(--main-color);
                font-family: 'Open Sans', sans-serif;
                font-size: 24px;
                font-weight: 600;
                text-align: center;
                padding-bottom: 10px;
                @include media-query-maxitablet{
                    font-size: 40px;
                }
            }
            h3{
                animation: aparicion linear both;
                animation-timeline: view();
                animation-range: entry 10% cover 30%;
                color: var(--main-color);
                font-family: 'Open Sans', sans-serif;
                font-size: 26px;
                font-weight: 400;
                text-align: center; 
                padding: 10px 0;
                @include media-query-maxitablet{
                    font-size: 46px;
                }
            }
        }
    }

    #foto3{
        scroll-snap-align: start;
        height: 100vh;
        background-image: url(../../images/52.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        @include media-query-mobile{
            background-image: url(../../images/41.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    #photo-app{
        scroll-snap-align: start;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--secondary-color);
        text-align: center;
        padding-bottom: 20px;
        h5{
            animation: aparicion linear both;
            animation-timeline: view();
            animation-range: entry 10% cover 30%;
            font-family: 'Open-Sans', sans-serif;
            font-size: 18px;
            color: var(--main-color-2);
            padding: 20px 40px;
            @include media-query-maxitablet{
                font-size: 50px;
                padding: 30px 10px;
            }
        }
        .teams{
            animation: aparicion linear both;
            animation-timeline: view();
            animation-range: entry 10% cover 30%;
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            padding-bottom: 20px;
            h6{
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                color: var(--main-color-2);
                padding-bottom: 10px;
                @include media-query-maxitablet{
                    font-size: 40px;
                    padding-bottom: 20px;
                }
            }
        }
        .hr3{
            background-color: var(--main-color-2);
            height: 1px;
            width: 60%;
            border: 1px solid var(--main-color-2);
            border-radius: 10px;
            margin-left: 20%;
        }
        
        .qr img{
            animation: aparicion linear both;
            animation-timeline: view();
            animation-range: entry 10% cover 30%;
            height: 100px;
            padding-bottom: 10px;
            @include media-query-maxitablet{
                height: 200px;
                padding-bottom: 20px;
            }
        }
        .link-container{
            animation: aparicion linear both;
            animation-timeline: view();
            animation-range: entry 0% cover 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            .link-app{
                padding: 10px;
            }
            h5{
                animation: aparicion linear both;
                animation-timeline: view();
                animation-range: entry 0% cover 10%;
            }
            a{
                color: var(--main-color-2);
                font-family: 'Open Sans', sans-serif;
                font-size: 18px;
                font-weight: 400;
                @include media-query-maxitablet{
                    font-size: 40px;
                    padding: 30px 10px;
                }
            }
        }
    }

    #foto4{
        scroll-snap-align: start;
        height: 100vh;
        background-image: url(../../images/70.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        @include media-query-mobile{
            background-image: url(../../images/4.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    #gift{
        scroll-snap-align: start;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 20%;
            animation: aparicion linear both;
            animation-timeline: view();
            animation-range: entry 10% cover 30%;
            @include media-query-maxitablet{
                width: 10%;
            }
        }
        .futuro{
            width: 90%;
            animation: aparicion linear both;
            animation-timeline: view();
            animation-range: entry 10% cover 30%;
            @include media-query-maxitablet{
                width: 80%;
            }
        }
        .future{
            font-family: 'Ms Madi', sans-serif;
            font-size: 38px;
            font-weight: 500;
            color: var(--main-color);
            text-align: center;
            padding: 10px 24px;
            @include media-query-maxitablet{
                font-size: 100px;
            }
        }
        .present{
                animation: aparicion linear both;
            animation-timeline: view();
            animation-range: entry 10% cover 30%;
            color: var(--main-color);
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            text-align: center;
            padding: 0 40px;
            @include media-query-maxitablet{
                font-size: 40px;
                padding: 20px 20px;
            }
        }
        .info{
            animation: aparicion linear both;
            animation-timeline: view();
            animation-range: entry 10% cover 30%;
            text-align: center;
            padding: 20px;
            margin-top: 20px;
            background-color: var(--secondary-color);
            width: 70%;
            border-radius: 10px;
            @include media-query-maxitablet{
                max-width: 50%;
            }
            p{
                font-family: 'Open Sans', sans-serif;
                font-size: 18px;
                color: var(--main-color-2);
                @include media-query-maxitablet{
                    font-size: 40px;
                }
            }
        }
    }

    #foto5{
        scroll-snap-align: start;
        height: 100vh;
        background-image: url(../../images/39.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        @include media-query-mobile{
            background-image: url(../../images/71.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    #game{
        scroll-snap-align: start;
        background-color: var(--secondary-color);
        text-align: center;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 20%;
            animation: aparicion linear both;
            animation-timeline: view();
            animation-range: entry 10% cover 30%;
            @include media-query-maxitablet{
                width: 10%;
            }
        }
        h5{
            font-family: 'Open-Sans', sans-serif;
            font-size: 20px;
            color: var(--main-color-2);
            padding: 24px 40px;
            animation: aparicion linear both;
            animation-timeline: view();
            animation-range: entry 10% cover 30%;
            @include media-query-maxitablet{
                font-size: 50px;
                padding: 24px 10px;
            }
        }
        p{
            animation: aparicion linear both;
            animation-timeline: view();
            animation-range: entry 10% cover 30%;
            font-size: 16px;
            color: var(--main-color-2);
            font-family: 'Open-Sans', sans-serif;
            padding: 5px 40px;
            @include media-query-maxitablet{
                font-size: 40px;
            }
            &:last-of-type{
                padding-bottom: 30px;
            }
        }
        .game-button{
            animation: aparicion linear both;
            animation-timeline: view();
            animation-range: entry 10% cover 30%;
            color: var(--secondary-color);
            border: 1px solid var(--secondary-color);
            background-color: var(--main-color-2);
            border-radius: 10px;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 500;
            padding: 8px 12px;
            text-decoration: none;
            @include media-query-maxitablet{
                font-size: 40px;
            }
            &:active{
                color: var(--main-color-2);
                background-color: var(--secondary-color);
                border: 1px solid var(--main-color-2);
            }
            &:hover{
                color: var(--main-color-2);
                background-color: var(--secondary-color);
                border: 1px solid var(--main-color-2);
            } 
        }
    }

    #see-you{
        scroll-snap-align: start;
        height: 100vh;
        background-image: url(../../images/7.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        @include media-query-mobile{
            background-image: url(../../images/76.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        h3{
            font-size: 40px;
            color: var(--main-color);
            background-color: var(--main-color-2);
            position: sticky;
            top: 100vh;
            width: 100%;
            height: 50px;
            padding: 10px 0;
            z-index: 100;
            text-align: center;
            @include media-query-maxitablet{
                font-size: 70px;
                padding-bottom: 30px;
            }
            @include media-query-mobile{
                position: sticky;
                top: 10vh;
                color: var(--main-color-2);
                background-color: unset;
            }
        }
    }
}